.container-fluid {
  width:100%;
  min-height:100vh;
           
}

li {
    font-family: 'Ubuntu', sans-serif;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 70px;
    line-height: 80px;
  z-index:111;
}

body {
    display: flex;
    background-color: #1A1C1C;
 overflow:hidden;
   
}

.logo {
    display: flex;
    font-size: 25px;
    font-weight: 800;
    color: #48C9B0;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
 
}

span0 {
    display: flex;
    color: #FBFCFC;
    font-size: 25px;
    font-weight: 800;
}

.navItems {
    display: flex;
  padding-left: 0;
}

.navItems li {
    list-style: none;
    margin: 10px;
}

.navItems li a {
    font-size: 15px;
    color: #FBFCFC;
    letter-spacing: 1.5px;
    text-decoration: none; 
    text-transform: capitalize;
}

.navItems li:hover a {
    color: #48C9B0;
}

.contact a {
    text-decoration: none;
}

.contact a i {
    font-size: 25px;
    text-decoration: none;
    color: #FBFCFC;
  margin:10px;
}

.contact a :hover {
    color:#48C9B0 ;
}

.col-md-6.n{
position:relative;
}

h1 {
    font-size: 60px;
    font-weight: 800;
    color: #48C9B0;
    left: 210px;
    bottom: 300px;
    position: absolute;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
}


p {
    position:absolute;
    left: 220px;
    bottom: 260px;
    font-size: 15px;
    letter-spacing: 0.2px;
    font-family: 'Poppins', sans-serif;
}

.col-md-6.p{
position:relative;
}

img {
    width: 25%;
    height: auto;
    border-radius: 50%;
    position: absolute;
    top: 200px;
    right: 310px;
}

.carousel-item{
position:absolute;
  top:200px;
}
